<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <!-- Aqui ele já está puxando o seu arquivo CSS externo -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">
        <h1>Lista de Alunos</h1>
        
        <a class="botao btn-novo" th:href="@{/alunos/novo}">
            Novo aluno
        </a>

       
        <form class="form-pesquisa" th:action="@{/alunos}" method="get">
            <div class="grupo-pesquisa">
                <input type="text" name="busca" class="input-pesquisa" th:value="${termoBusca}" 
                       placeholder="Digite o nome do aluno...">
                <button type="submit" class="btn-pesquisar">Pesquisar</button>
                <a th:href="@{/alunos}" class="btn-limpar">Limpar</a>
            </div>
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Curso</th>
                    <th>Email</th>
                    <th>Matrícula</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno : ${alunos}">
                    <td th:text="${aluno.id}">1</td>
                    <td th:text="${aluno.nome}">João</td>
                    <td th:text="${aluno.idade}">17</td>
                    <td th:text="${aluno.curso}">Informática</td>
                    <td th:text="${aluno.email}">Joao@gmail.com</td>
                    <td th:text="${aluno.matricula}">2026001</td>
                    
                    <!-- Coluna de Ações -->
                    <td>
                        <!-- EDITAR -->
                        <a th:href="@{/alunos/{id}/editar(id=${aluno.id})}">
                            Editar
                        </a>
                        <!-- EXCLUIR -->
                        <form class="form-excluir" th:action="@{/alunos/{id}/excluir(id=${aluno.id})}" method="post">
                            <button type="submit">
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>