<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Bombeiros</title>
    <!-- Aqui ele já está puxando o seu arquivo CSS externo -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">
        <h1>Lista de Bombeiros</h1>
        
        <a class="botao btn-novo" th:href="@{/Bombeiros/novo}">
            Novo bombeiro
        </a>

       
        <form class="form-pesquisa" th:action="@{/bombeiros}" method="get">
            <div class="grupo-pesquisa">
                <input type="text" name="busca" class="input-pesquisa" th:value="${termoBusca}" 
                       placeholder="Digite o nome do Bombeiro...">
                <button type="submit" class="btn-pesquisar">Pesquisar</button>
                <a th:href="@{/bombeiros}" class="btn-limpar">Limpar</a>
            </div>
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Cpf</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bombeiros : ${bombeiros}">
                    <td th:text="${bombeiros.id}">1</td>
                    <td th:text="${bombeiros.nome}">Wallace Boden</td>
                    <td th:text="${bombeiros.cargo}">Chefe do Batalhão</td>
                    <td th:text="${bombeiros.cpf}">111.111.111-11</td>
                    <td th:text="${bombeiros.telefone}">(11) 91111-0001</td>
                    
                    <!-- Coluna de Ações -->
                    <td>
                        <!-- EDITAR -->
                        <a th:href="@{/bombeiros/{id}/editar(id=${bombeiros.id})}">
                            Editar
                        </a>
                        <!-- EXCLUIR -->
                        <form class="form-excluir" th:action="@{/bombeiro/{id}/excluir(id=${bombeiros.id})}" method="post">
                            <button type="submit">
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>