<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Aluno</title>
</head>
<body>

    <h1>Editar Aluno</h1>
    
    <!-- O formulário envia os dados para o Controller -->
   <form th:action="@{/alunos/{id}/editar(id=${aluno.id})}" th:object="${aluno}" method="post">
        
        <!-- Campo oculto com o ID do aluno (Obrigatório para o Java saber quem editar) -->
        <input type="hidden" th:field="*{id}">

        <div>
            <label>Nome:</label><br>
            <input type="text" th:field="*{nome}" required>
        </div>

        <div>
            <label>Idade:</label><br>
            <input type="number" th:field="*{idade}" required>
        </div>

        <div>
            <label>Curso:</label><br>
            <input type="text" th:field="*{curso}" required>
        </div>

        <div>
            <label>Email:</label><br>
            <input type="email" th:field="*{email}" required>
        </div>

        <div>
            <label>Matrícula:</label><br>
            <input type="text" th:field="*{matricula}" required>
        </div>

        <br>
        
        <div>
            <button type="submit">Atualizar Aluno</button>
            <a th:href="@{/alunos}">Cancelar</a>
        </div>
        
    </form>

</body>
</html>