<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">
        Aluno
    </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <!--
        O título será recebido do Controller.
        Pode ser: Cadastrar Aluno ou Editar Aluno
        -->
        <h1 th:text="${titulo}">
            Bombeiro
        </h1>
        
        <!-- ==========================================
        FORMULÁRIO DE CADASTRO
        ========================================== -->
        <!-- Se aluno.id for null, significa que estamos cadastrando. -->
        <form th:if="${bombeiros.id == null}" th:action="@{/bombeiros}" th:object="${bombeiro}" method="post">
            <div class="campo">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}"required>
            </div>
            <div class="campo">
                <label>Cargo:</label>
                <input type="number" th:field="*{cargo}"required>
            </div>
            <div class="campo">
                <label>Cpf:</label>
                <input type="text" th:field="*{cpf}"required>
            </div>
            <div class="campo">
                <label>Telefone:</label>
                <input type="text" th:field="*{telefone}"required>
            </div>
            <button type="submit">
                Cadastrar
            </button>
        </form>

        <!-- ==========================================
        FORMULÁRIO DE EDIÇÃO
        ========================================== -->
        <!-- Se aluno.id não for null, significa que o aluno já existe. -->
        <form th:if="${bombeiro.id != null}" th:action="@{/bombeiros/{id}/editar(id=${bombeiro.id})}" th:object="${bombeiro}" method="post">
            <div class="campo">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}">
            </div>
             <div class="campo">
                <label>Cargo:</label>
                <input type="number" th:field="*{cargo}"required>
            </div>
            <div class="campo">
                <label>Cpf:</label>
                <input type="text" th:field="*{cpf}"required>
            </div>
            <div class="campo">
                <label>Telefone:</label>
                <input type="text" th:field="*{telefone}"required>
            </div>
            <button type="submit">
                Salvar alterações
            </button>
        </form>
        
        <a th:href="@{/bombeiros}">
            Voltar
        </a>
    </div>
</body>

</html>