<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo != null ? titulo : 'Novo Bombeiro'}">
        Bombeiro
    </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        
        <h1 th:text="${titulo != null ? titulo : 'Cadastrar Bombeiro'}">
            Bombeiro
        </h1>
        
        <!-- ==========================================
        FORMULÁRIO DE CADASTRO
        ========================================== -->
        <!-- CORRIGIDO: "bombeiro.id" no singular -->
        <form th:if="${bombeiro.id == null}" th:action="@{/bombeiros}" th:object="${bombeiro}" method="post">
            <div class="campo">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}" required>
            </div>
            <div class="campo">
                <label>Cargo:</label>
                <!-- CORRIGIDO: type="text" para corresponder à String do Java -->
                <input type="text" th:field="*{cargo}" required>
            </div>
            <div class="campo">
                <label>Cpf:</label>
                <input type="text" th:field="*{cpf}" required>
            </div>
            <div class="campo">
                <label>Telefone:</label>
                <input type="text" th:field="*{telefone}" required>
            </div>
            <button type="submit">
                Cadastrar
            </button>
        </form>

        <!-- ==========================================
        FORMULÁRIO DE EDIÇÃO
        ========================================== -->
        <form th:if="${bombeiro.id != null}" th:action="@{/bombeiros/{id}/editar(id=${bombeiro.id})}" th:object="${bombeiro}" method="post">
            <div class="campo">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}">
            </div>
             <div class="campo">
                <label>Cargo:</label>
                <!-- CORRIGIDO: type="text" -->
                <input type="text" th:field="*{cargo}" required>
            </div>
            <div class="campo">
                <label>Cpf:</label>
                <input type="text" th:field="*{cpf}" required>
            </div>
            <div class="campo">
                <label>Telefone:</label>
                <input type="text" th:field="*{telefone}" required>
            </div>
            <button type="submit">
                Salvar alterações
            </button>
        </form>
        
        <a th:href="@{/bombeiros}">
            Voltar
        </a>
    </div>
</body>

</html>